@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-fill-available {
        width: -webkit-fill-available;
        width: stretch;
    }
}

body{
   background-color:  #181a1b;
}
body * {
    color:white;
}